{% use 'form_div_layout.html.twig' %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="form-error">
            {{ errors[0].message }}
        </div>
    {% endif %}
{% endblock %}

{% block form_row %}
    {% set widget_attr = {} %}

    {% if help is not empty %}
        {% set widget_attr = { attr: { 'aria-describedby': id ~ "_help" } } %}
    {% endif %}

    <div class="form-group" {% with { attr: row_attr|default({}) } %}{{ block('attributes') }}{% endwith %}>
        <div class="form-field">
            {{ form_widget(form, widget_attr) }}
            {{ form_label(form) }}
            <div class="form-strip"></div>
        </div>
        {% block form_label_errors %}
            {{ form_errors(form) }}
        {% endblock form_label_errors %}
    </div>

{% endblock %}

{% block form_widget_simple %}

    {% set attr = attr|merge({ class: (attr.class|default('form-control'))|trim }) %}
    {% if attr['data-empty'] is not defined %}
        {% set attr = attr|merge({ 'data-empty': value|length == 0 ? 'true' : 'false' }) %}
    {% endif %}

    {{ parent() }}
{% endblock form_widget_simple %}

{% block form_label %}
    {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('form-label'))|trim }) %}
    {{ parent() }}
{% endblock form_label %}

{% block button_widget %}
    {% set attr = attr|merge({ class: (attr.class|default('button'))|trim }) %}
    {{ parent() }}
{% endblock button_widget %}

{% block textarea_widget %}
    {% set attr = attr|merge({ class: (attr.class|default('form-control'))|trim }) %}
    {% set attr = attr|merge({ 'data-empty': value|length == 0 ? 'true' : 'false' }) %}
    {{ parent() }}
{% endblock %}


{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {% set attr = attr|merge({ 'data-empty': 'false' }) %}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
            {{ dump('hello 2') }}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}
