{% extends "base.html.twig" %}
{% block title %}Contactez-nous maintenant !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media screen and (min-width: 1500px) {

            .header {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10000;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contact-wrapper">

        <div class="contact-content-wrapper">
            <div class="contained">
                <h1 class="contact-title">Une question ?<br />Vous souhaitez réserver ?</h1>
                <ul>
                    <li class="contact-information-item">
                        <a href="tel:0612345678" class="contact-information-link">
                            <i class="material-icons">phone</i>
                            (+33) 612 345 678
                        </a>
                    </li>
                    <li class="contact-information-item">
                        <a href="#" class="contact-information-link">
                            <i class="material-icons">mail</i>
                            9 grand rue, <br class="hidden-md" />68750 Bergheim
                        </a>
                    </li>
                    <li class="contact-information-item">
                        <a href="#" class="contact-information-link">
                            <i class="material-icons">thumb_up</i>
                            Notre Facebook
                        </a>
                    </li>
                </ul>
            </div>

            <div class="contact-form-wrapper contained">
{#                {{ form(form, { attr: { class: 'contact-form' } }) }}#}

                {{ form_start(form, { attr: { class: 'contact-form' } }) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.tel) }}
                    {{ form_row(form.message) }}
                {{ form_end(form) }}
            </div>
        </div>


        <div id="map-id" data-map data-center="[48.2050849, 7.3633694]" data-zoom="100" style="min-height: 50vh" class="map"></div>
    </div>

    <template data-marker="map-id" data-position="[48.2050849, 7.3633694]">
        <b>Chez Norbert</b>
    </template>
{% endblock %}
