{% extends 'base.html.twig' %}

{% block title %}Bienvenue Chez Norbert - Gîtes et chambres d'hôtes{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
        }

        .header-brand {
            color: white;
        }

        .header-hamburger span {
            background: white;
        }

        .header::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: -1;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,0));
        }

        @media screen and (min-width: 1200px) {
            .nav-link {
                color: white;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <section class="landing">
        <picture>
            <source srcset="{{ asset('build/images/cour.jpg') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
            <source srcset="{{ asset('build/images/cour.jpg') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
            <source srcset="{{ asset('build/images/cour.jpg') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
            <source srcset="{{ asset('build/images/cour.jpg') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
            <img src="{{ asset('build/images/cour.jpg') }}" alt="Portail d'entrée de Chez Norbert" class="landing-img">
        </picture>

        <div class="contained">
            <div class="landing-container">
                <h1 class="landing-title">Un lieu paisible au cœur du vignoble, une maison de charme alsacienne.</h1>
                <a href="#discover" class="button landing-button">Découvrez Chez Norbert</a>
            </div>
        </div>
    </section>

    <div class="contained-y contained">
        <section class="alsace" id="discover">
            <h2 class="title-1 alsace-title">Au cœur de l'Alsace</h2>

            <div class="alsace-text-container">
                <p>Au gré de la route des vins, non loin de Colmar, tout près de Ribeauvillé, le petit village de Bergheim abrite une ancienne demeure viticole de charme qui saura vous ravir.</p>
                <p>Chez Norbert, longtemps reconnu pour son hôtel-restaurant fait peau neuve en proposant désormais des gîtes et des chambres d'hôtes.</p>
                <p>Un petit déjeuner copieux avec des produits maison, des espaces extérieurs proprices à la détente. Une cour intérieure fleurie à l'abri des regards...</p>
                {# <p>Commencez bien votre matinée dans le salle petit-déjeuner avec des produits locaux et terminez la journée autour d'un verre sur la terrasse.</p> #}
            </div>

            <div class="alsace-button-container">
                <a href="#houses" class="button button-outline alsace-button">Nos gîtes</a>
                <a href="#guest-houses" class="button button-outline alsace-button">Nos chambres d'hôtes</a>
            </div>
        </section>
    </div>


    <section class="discover">
        <div class="map-wrapper">
            <div data-map id="map" class="discover-map" data-center="[48.2050849, 7.3633694]" data-zoom="100"></div>
        </div>

        <div class="contained">
            <div class="discover-card">
                <h2 class="title-1">Tant de choses à découvrir</h2>
                <p>Entre le culture de l'esprit et la culture du bien-vivre. Du château du Haut-Koenigsbourg en passant par la Bibliothèque Humaniste de Sélestat sans oublier le musée Unterlinden de Colmar et les vignerons passionnés, vous tomberez à coup sûr amoureux de l'Alsace.</p>
                <a href="#" class="button discover-button">Ouvrir la carte</a>
            </div>
        </div>

    </section>

    <div class="contained contained-y background-light" id="houses">
        <section class="houses">
            <header class="houses-header">
                <h2 class="title-1 houses-title">Des gîtes accueillants</h2>
                <p>Un séjour conviviale pour des moments de partage et des chambres avec salles de bains privatives pour des moments d'intimités.</p>
            </header>


            <section class="card-container">

                {% for house in houses %}
                    <article class="card" data-link>
                        <div class="card-img-wrapper">
                            <picture>
                                <source srcset="{{ asset('build/images/gite-example.jpg') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
                                <source srcset="{{ asset('build/images/gite-example.jpg') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
                                <source srcset="{{ asset('build/images/gite-example.jpg') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
                                <source srcset="{{ asset('build/images/gite-example.jpg') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
                                <img src="{{ asset('build/images/gite-example.jpg') }}" class="card-img">
                            </picture>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ house.typeName|trans }} "{{ house.name }}"</h3>
                            <p>{{ house.description|length > 130 ? house.description | slice(0, 130) ~ '...' : house.description }}</p>
                            <p>{{ house.advantage|slice(0, 2)|join(' - ') }}</p>
                            <a href="{{ path('houses.get', { slug: house.slug }) }}" class="button card-button">En savoir plus</a>
                        </div>
                    </article>
                {% endfor %}
            </section>

        </section>
    </div>

    <div class="contained contained-y" id="guest-houses">
        <section class="houses">
            <header class="houses-header">
                <h2 class="title-1 houses-title">Des chambres d'hôtes spacieuses</h2>
                <p>Des chambres spacieuses où vous pourrez vous adonner à la lecture dans un coin salon ou vous détendre dans notre baignoire balnéo.</p>
            </header>
            <div class="card-container">

                {% for room in rooms %}
                    <article class="card" data-link>
                        <div class="card-img-wrapper">
                            <picture>
                                <source srcset="{{ asset('build/images/vendanges-tardives.jpg') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
                                <source srcset="{{ asset('build/images/vendanges-tardives.jpg') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
                                <source srcset="{{ asset('build/images/vendanges-tardives.jpg') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
                                <source srcset="{{ asset('build/images/vendanges-tardives.jpg') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
                                <img src="{{ asset('build/images/vendanges-tardives.jpg') }}" class="card-img">
                            </picture>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ room.typeName|trans }} <br> "{{ room.name }}"</h3>
                            <p>{{ room.description|length > 130 ? room.description | slice(0, 130) ~ '...' : room.description }}</p>
                            <p>{{ room.advantage|slice(0, 2)|join(' - ') }}</p>
                            <a href="{{ path('houses.get', { slug: room.slug }) }}" class="button card-button">En savoir plus</a>
                        </div>
                    </article>
                {% endfor %}
            </div>

        </section>
    </div>



    <section class="contact-us contained contained-y">
        <h2 class="title-1 contact-us-title">Une question ?<br> Contactez-nous !</h2>
        <a href="#" class="contact-information-item contact-information-link">
            <i class="material-icons">thumb_up</i>
            Notre Facebook
        </a>
        <div>
            <a href="{{ path('home.contact') }}" class="button contact-us-button">Contactez-nous</a>
        </div>
    </section>

{% endblock %}
