{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
        }

        .header::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,0));
        }
    </style>
{% endblock %}

{% block body %}
    <div class="landing">
        <img src="{{ asset('build/images/cour.jpg') }}" alt="Portail d'entrée de Chez Norbert" class="landing-img">

        <div class="landing-container">
            <h1 class="landing-title">Un lieu paisible au cœur du vignoble, une maison de charme alsacienne.</h1>
            <a href="#" class="button landing-button">Découvrez Chez Norbert</a>
        </div>
    </div>

    <div class="alsace">
        <h1 class="alsace-title">Au cœur de l'Alsace</h1>

        <div>
            <p>Au gré de la route des vins, non loin de Colmar, tout près de Ribeauvillé, le petit village de Bergheim abrite une ancienne demeure viticole de charme qui saura vous ravir.</p>
            <p>Chez Norbert, longtemps reconnu pour son hôtel-restaurant fait peau neuve en proposant désormais des gîtes et des chambres d'hôtes.</p>
            <p>Commencez bien votre matinée dans le salle petit-déjeuner avec des produits locaux et terminez la journée autour d'un verre sur la terrasse.</p>
        </div>

        <div>
            <a href="#" class="button button-outline alsace-button">Nos gîtes</a>
            <a href="#" class="button button-outline alsace-button">Nos chambres d'hôtes</a>
        </div>
    </div>

    <div class="discover">
        <div class="map-wrapper">
            <div data-map id="map" class="discover-map" data-center="[48.2050849, 7.3633694]" data-zoom="100"></div>
        </div>

        <div class="discover-card">
            <h2 class="discover-title">Tant de choses à découvrir</h2>
            <p>Entre le culture de l'esprit et la culture du bien-vivre. Du château du Haut-Koenigsbourg en passant par la Bibliothèque Humaniste de Sélestat sans oublier le musée Unterlinden de Colmar et les vignerons passionnés, vous tomberez à coup sûr amoureux de l'Alsace.</p>
            <a href="#" class="button">Ouvrir la carte</a>
        </div>

    </div>

    <div class="houses">
        <div class="houses-header">
            <h2 class="houses-title">Des gîtes accueillants</h2>
            <p>Un séjour accueillant pour des moments de partage et des chambres avec salles de bains privatives pour des moments d'intimités.</p>
        </div>


        <div class="card-container contained">

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="{{ asset('build/images/gite-example.jpg') }}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Gîte "Le Grasberg"</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore...</p>
                    <p>4 - 6 personnes - Salle de bain privative - Duplex</p>
                    <a href="#" class="button">En savoir plus</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="{{ asset('build/images/riesling.jpg') }}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Gîte "Le Riesling"</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore...</p>
                    <p>4 personnes - Salle de bain privative</p>
                    <a href="#" class="button">En savoir plus</a>
                </div>
            </div>
        </div>

    </div>

    <div class="guestrooms">
        <div class="houses-header">
            <h2 class="houses-title">Des gîtes accueillants</h2>
            <p>Un séjour accueillant pour des moments de partage et des chambres avec salles de bains privatives pour des moments d'intimités.</p>
        </div>


        <div class="card-container contained">

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="{{ asset('build/images/vendanges-tardives.jpg') }}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Chambre d'hôte "Vendanges tardives"</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore...</p>
                    <p>4 personnes - Salle de bain privative</p>
                    <a href="#" class="button">En savoir plus</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="{{ asset('build/images/grand-cru.jpg') }}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Chambre d'hôte "Grand cru"</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore...</p>
                    <p>4 personnes - Salle de bain privative</p>
                    <a href="#" class="button">En savoir plus</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="{{ asset('build/images/grand-cru-alsace.jpg') }}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Chambre d'hôte "Grand cru Alsace"</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore...</p>
                    <p>4 personnes - Salle de bain privative</p>
                    <a href="#" class="button">En savoir plus</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
