{% extends "mails/base.html.twig" %}

{% block body %}
    <p>Nouveau message depuis le formulaire de contact de <a href="https://chez-norbert.fr/contact">chez-norbert.fr/contact</a></p>
    <p><b>Prénom :</b> {{ contact.firstName }}</p>
    <p><b>Nom :</b> {{ contact.lastName }}</p>
    <p><b>Email :</b> {{ contact.email }}</p>
    <p><b>Téléphone :</b> {{ contact.tel }}</p>
    <p><b>Message : </b>{{ contact.message }}</p>
{% endblock %}