{% extends "base_admin.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <h1>Ajout d'un média</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.alt) }}
                    {{ form_row(form.imageFile) }}

                    <button class="btn btn-success">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}