{% extends "base_admin.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Gestion des médias</h1>
            </div>

            <div class="col-12 mb-4">
                <a href="{{ path('admin.media.create') }}" class="btn btn-success">Ajouter un média</a>
            </div>

            <div class="col-12">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th>Image</th>
                            <th>Texte alternatif</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for media in medias %}
                            <tr>
                                <td>{{ media.id }}</td>
                                <td><img src="{{ vich_uploader_asset(media, 'imageFile') }}" style="width: 200px; height: 200px; object-fit: cover"></td>
                                <td>{{ media.alt }}</td>
                                <td class="d-flex">
                                    <a href="{{ path('admin.media.update', { id: media.id }) }}" class="btn btn-primary mr-1">Mettre à jour</a>
                                    <form action="{{ path('admin.media.delete', { id: media.id }) }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">

                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}