{% extends "base_admin.html.twig" %}
{% form_theme form 'form/admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .active {
            background: lightblue;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <h1>
                    {% if house.id is null %}
                        Ajout d'un gîte/chambre d'hôte
                    {% else %}
                        Édition {{ house.type == "Chambre d'hote" ? "de la chambre d'hôte" : 'du gîte'  }} "{{ house.name }}"
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">

                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.peopleNumber) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.images) }}

                    <ul class="advantage" data-prototype="{{ form_widget(form.advantage.vars.prototype)|e('html_attr') }}">
                        {% for advantage in form.advantage %}
                            <li>{{ form_row(advantage) }}</li>
                        {% endfor %}
                    </ul>

                <script src="http://code.jquery.com/jquery.js"></script>

                <script>
                    function addTagFormDeleteLink($tagFormLi) {
                        var $removeFormButton = $('<button type="button">Delete this advantage</button>');
                        $tagFormLi.append($removeFormButton);

                        $removeFormButton.on('click', function(e) {
                            // remove the li for the tag form
                            $tagFormLi.remove();
                        });
                    }

                    jQuery(document).ready(function() {
                        // Get the ul that holds the collection of tags
                        $collectionHolder = $('ul.advantage');

                        // add a delete link to all of the existing tag form li elements
                        $collectionHolder.find('li').each(function() {
                            addTagFormDeleteLink($(this));
                        });
                    });
                </script>

                {# button add #}
                <script>
                    function addTagForm($collectionHolder, $newLinkLi) {
                        // Get the data-prototype explained earlier
                        var prototype = $collectionHolder.data('prototype');

                        // get the new index
                        var index = $collectionHolder.data('index');

                        var newForm = prototype;
                        // You need this only if you didn't set 'label' => false in your tags field in TaskType
                        // Replace '__name__label__' in the prototype's HTML to
                        // instead be a number based on how many items we have
                        // newForm = newForm.replace(/__name__label__/g, index);

                        // Replace '__name__' in the prototype's HTML to
                        // instead be a number based on how many items we have
                        newForm = newForm.replace(/__name__/g, index);

                        // increase the index with one for the next item
                        $collectionHolder.data('index', index + 1);

                        // Display the form in the page in an li, before the "Add a tag" link li
                        var $newFormLi = $('<li></li>').append(newForm);
                        $newLinkLi.before($newFormLi);
                    }

                    var $collectionHolder;

                    // setup an "add a tag" link
                    var $addTagButton = $('<button type="button" class="add_tag_link">Add a Advantage</button>');
                    var $newLinkLi = $('<div></div>').append($addTagButton);

                    jQuery(document).ready(function() {
                        // Get the ul that holds the collection of tags
                        $collectionHolder = $('ul.advantage');

                        // add the "add a tag" anchor and li to the tags ul
                        $collectionHolder.append($newLinkLi);

                        // count the current form inputs we have (e.g. 2), use that as the new
                        // index when inserting a new item (e.g. 2)
                        $collectionHolder.data('index', $collectionHolder.find(':input').length);

                        $addTagButton.on('click', function(e) {
                            // add a new tag form (see next code block)
                            addTagForm($collectionHolder, $newLinkLi);
                        });
                    });
                </script>
                    <button class="btn btn-{{ house.id is null ? 'success' : 'primary' }}">
                        {% if house.id is null %}
                            Créer
                        {% else %}
                            Mettre à jour
                        {% endif %}
                    </button>
                {{ form_end(form) }}
            </div>

            <div class="col-4">
                <div class="row d-flex">
                    {% for media in house.medias %}
                        <div class="col-md-8 mb-4">
                            <img src="{{ vich_uploader_asset(media, 'imageFile') }}" alt="{{ media.alt }}" class="img-fluid mb-2">
                            <a href="{{ path('api.admin.media.delete', { id: media.id }) }}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ media.id) }}">
                                Supprimer
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        document.querySelectorAll('[data-delete]')
            .forEach(a => a.addEventListener('click', e => {
                e.preventDefault()
                //
                // const formData = new FormData()
                // formData.append('_token', a.dataset.token)

                fetch (a.href, {
                    method: 'DELETE',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        '_token':a.dataset.token
                    })
                }).then (response => response.json())
                    .then(data => {
                        if (data.success === 1) {
                            a.parentNode.parentNode.removeChild(a.parentNode)
                        } else {
                            console.log(data.error)
                        }
                    })
                    .catch(error => console.log(error))

            }))

        document.querySelectorAll('[data-select]')
            .forEach(selectWrapper => {
                selectWrapper.addEventListener('click', () => {
                    const optionId = selectWrapper.dataset.option
                    const option = document.querySelector(`option[value="${optionId}"]`)

                    option.selected = !option.selected

                    if (option.selected) selectWrapper.classList.add('active')
                    else selectWrapper.classList.remove('active')
                    //const select = document.querySelector(`select#${selectId}`)
                    //const selected = Array.isArray(select.value) ? select.value : [ select.value ]

                    //const isAlreadySelected = selected.find (v => v === optionId)

                    //select.value = isAlreadySelected ? selected.filter (v => v !== select.value) : [ ...selected, optionId ]


                })
            })
    </script>
{% endblock %}