{% extends "base_admin.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <h1>
                    {% if house.id is null %}
                        Ajout d'un gîte/chambre d'hôte
                    {% else %}
                        Édition {{ house.type == "Chambre d'hote" ? "de la chambre d'hôte" : 'du gîte'  }} "{{ house.name }}"
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.peopleNumber) }}
                    {{ form_row(form.description) }}
                    <ul class="advantage" data-prototype="{{ form_widget(form.advantage.vars.prototype)|e('html_attr') }}">
                            {{ form_row(form.advantage) }}
                    </ul>

                <script src="http://code.jquery.com/jquery.js"></script>

                <script>
                    function addTagForm($collectionHolder, $newLinkLi) {
                        // Get the data-prototype explained earlier
                        var prototype = $collectionHolder.data('prototype');

                        // get the new index
                        var index = $collectionHolder.data('index');

                        var newForm = prototype;
                        // You need this only if you didn't set 'label' => false in your tags field in TaskType
                        // Replace '__name__label__' in the prototype's HTML to
                        // instead be a number based on how many items we have
                        // newForm = newForm.replace(/__name__label__/g, index);

                        // Replace '__name__' in the prototype's HTML to
                        // instead be a number based on how many items we have
                        newForm = newForm.replace(/__name__/g, index);

                        // increase the index with one for the next item
                        $collectionHolder.data('index', index + 1);

                        // Display the form in the page in an li, before the "Add a tag" link li
                        var $newFormLi = $('<li></li>').append(newForm);
                        $newLinkLi.before($newFormLi);
                    }

                    var $collectionHolder;

                    // setup an "add a tag" link
                    var $addTagButton = $('<button type="button" class="add_tag_link">Add a Advantage</button>');
                    var $newLinkLi = $('<div></div>').append($addTagButton);

                    jQuery(document).ready(function() {
                        // Get the ul that holds the collection of tags
                        $collectionHolder = $('ul.advantage');

                        // add the "add a tag" anchor and li to the tags ul
                        $collectionHolder.append($newLinkLi);

                        // count the current form inputs we have (e.g. 2), use that as the new
                        // index when inserting a new item (e.g. 2)
                        $collectionHolder.data('index', $collectionHolder.find(':input').length);

                        $addTagButton.on('click', function(e) {
                            // add a new tag form (see next code block)
                            addTagForm($collectionHolder, $newLinkLi);
                        });
                    });
                </script>
                    <button class="btn btn-{{ house.id is null ? 'success' : 'primary' }}">
                        {% if house.id is null %}
                            Créer
                        {% else %}
                            Mettre à jour
                        {% endif %}
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}