{% extends 'base.html.twig' %}

{% block title %}{{ house.name }}{% endblock %}
{% block description %}{{ house.description }}{% endblock %}

{% block body %}
    <header class="contained house-header">
        <span class="overline house-overline">{{ house.typeName|trans }}</span>
        <h1 class="title-1 house-title">{{ house.name }}</h1>
    </header>

    <div class="house-content-wrapper">
        <section class="carousel-container">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for media in house.medias %}
                            <li class="glide__slide">
                                <div class="carousel-img-wrapper">
                                    <picture>
                                        <source data-srcset="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
                                        <source data-srcset="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
                                        <source data-srcset="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
                                        <source data-srcset="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
                                        <img data-src="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('xl_max_down_scale_filter') }}" alt="{{ media.alt }}" class="carousel-img">
                                    </picture>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="<">&lt;</button>
                    <button class="glide__bullet" data-glide-dir=">">&gt;</button>
                </div>
            </div>
        </section>

        <div class="contained detail-contained">
            <section class="details">
                <h2 class="details-title">Détails</h2>
                <ul class="details-list">
                    {% for advantage in house.advantage %}
                        <li class="details-element">{{ advantage }}</li>
                    {% endfor %}
{#                    <li class="details-element">4 - 6 personnes</li>#}
{#                    <li class="details-element">Sain de balle privative</li>#}
{#                    <li class="details-element">Duplex</li>#}
                </ul>
                <p>
                    {{ house.description }}
                </p>

                <div>
                    <a href="https://chez-norbert.amenitiz.io/fr/booking/room" target="_blank" class="button details-button">Réservez maintenant</a>
                </div>
            </section>
        </div>
    </div>

    <div class="contained contained-y background-light">
        <header class="other-houses-header">
            <h2 class="title-1 other-houses-title">
                Autre
                {% if house.type == 0 %}
                    gîte
                {% else %}
                    chambre d'hôte
                {% endif %}
            </h2>
        </header>

        <section class="other-houses-body">

            {% for house in anotherHouses %}
                <article class="other-house">


                    <picture class="other-house-picture">
                        <source data-srcset="{{ vich_uploader_asset(house.firstMedia, 'imageFile') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
                        <source data-srcset="{{ vich_uploader_asset(house.firstMedia, 'imageFile') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
                        <source data-srcset="{{ vich_uploader_asset(house.firstMedia, 'imageFile') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
                        <source data-srcset="{{ vich_uploader_asset(house.firstMedia, 'imageFile') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
                        <img data-src="{{ vich_uploader_asset(house.firstMedia, 'imageFile') | imagine_filter('xl_max_down_scale_filter') }}"  alt="{{ house.firstMedia.alt }}" class="other-house-img">
                    </picture>
                    <div class="other-house-body">
                            <span class="overline">Gîte suivant</span>
                            <h3 class="other-house-title">{{ house.name }}</h3>
                            <p class="other-house-text">{{ house.description }}</p>
                            <p>{{ house.advantage | join (' - ') }}</p>

                            <a href="{{ path('houses.get', { slug: house.slug }) }}" class="other-house-button">En savoir plus</a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>


    <div class="contained contained-y">
        <header class="other-houses-header">
            <h2 class="title-1 other-houses-title">
                Les
                {% if house.type == 0 %}
                    chambres d'hôtes
                {% else %}
                    gîtes
                {% endif %}
            </h2>
        </header>

        <section class="other-houses-body">
            <article class="other-house">

                <picture class="other-house-picture">
                    <source data-srcset="{{ vich_uploader_asset(oppositeTypeHouse.firstMedia, 'imageFile') | imagine_filter('xs_max_down_scale_filter') }}" media="(max-width: 600px)">
                    <source data-srcset="{{ vich_uploader_asset(oppositeTypeHouse.firstMedia, 'imageFile') | imagine_filter('sm_max_down_scale_filter') }}" media="(max-width: 900px)">
                    <source data-srcset="{{ vich_uploader_asset(oppositeTypeHouse.firstMedia, 'imageFile') | imagine_filter('md_max_down_scale_filter') }}" media="(max-width: 1200px)">
                    <source data-srcset="{{ vich_uploader_asset(oppositeTypeHouse.firstMedia, 'imageFile') | imagine_filter('lg_max_down_scale_filter') }}" media="(max-width: 1500px)">
                    <img data-src="{{ vich_uploader_asset(oppositeTypeHouse.firstMedia, 'imageFile') | imagine_filter('xl_max_down_scale_filter') }}" class="other-house-img" alt="{{ oppositeTypeHouse.firstMedia.alt }}">
                </picture>

                <div class="other-house-body">
                    <h3 class="other-house-title">{{ oppositeTypeHouse.name }}</h3>
                    <p class="other-house-text">{{ oppositeTypeHouse.description }}</p>
                    <p>{{ oppositeTypeHouse.advantage | join (' - ') }}</p>

                    <a href="{{ path('houses.get', { slug: oppositeTypeHouse.slug }) }}" class="other-house-button">En savoir plus</a>
                </div>
            </article>
        </section>
    </div>

{% endblock %}
